   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h3>Felhasználói adatok</h3>
        <form id="profileform" role="form" action="/profile" method="post">
          <div class="row">
        <input type="text" name="veznev" id="veznev" placeholder="Vezetéknév">
        <input type="text" name="kernev" id="kernev" placeholder="Keresztnév">
          </div>
        <button id="btn-submit" type="submit" class="btn btn-success">Változtatások mentése</button>
        </form>
      </div>
    <%- include footer %>